:root {
  --short-size-grid-columns: 70px;
  --size-grid-columns: 350px;
  --size-grid-columns-collaborators-page: 300px;
  --size-divider: 1px;

  --max-width-setting: 350px;

  --height-header: 50px;
  --height-searching-notes: 40px;

  --padding-left-notes-navigation: 20px;
}